.quest-sit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.quest{
margin-right: 800px;
// margin-bottom: 300px;
}

.list-name{
font-family: cursive;
font-size: 30px;
}

.list-explain{
font-family: cursive;
}
.list {
  list-style: none;
  width: 500px;
}

.f1{
  padding: 0px 100px;
}
